
.navbar{
  z-index: 10000001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 5% 16px 5%;
}

.navbar ul li{
  list-style-type: none;

}

.navbar ul li a{
  color: black;
  text-decoration: none;
  padding: 20px
}

.navbar ul li a:hover{
text-decoration: underline solid black;
}

.icons{
width: 148px;
display: flex;
justify-content: flex-end;
}
.icons a{
  padding: 12px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.header{
  background-color: #495E57;
  margin: 0 5% 0 5%;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding: 84px;
}

.banner p{
  width: 60%;
}
h2 {
  color: #F4CE14;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.header img{
  width: 500px;
}

button {
  background-color: #F4CE14;
  color: #495E57;
  padding: 8px 16px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.menuItems{
  margin: 3% 5% 3% 5%; 
}

.menuHeading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: burlywood;
  width: 320px;
margin: 16px 0 16px 0px;
padding: 2%;
}

.menuCard .tilte{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontalCards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin: 3% 5% 3% 5%; 
  }

  .reviewHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
  }


.reviewCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #495E57;
  color: white;
  width: 390px;
  margin: 12px 12px 12px;
padding: 1.5% 1.5% 1.5% 1.5%;
  border-radius: 12px;
}

.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.reviewCard .reviewHeading img{
  height: 25px;
}


.aboutUs{
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 84px;
}

.aboutUs img{
  height: 500px;
}

.footer .upBtn img{
  width: 24px;
}

.footer .upBtn{
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.footer ul li{
  list-style:  none;
}

.footer ul li a{
  text-decoration: none;
  color: white;
}

.about p{
  width: 60%;
}

.footer{
  width: 100%;
  background-color: #495E57;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding:3% 5% 3% 5%;
}

.logoWhite{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1 ;
  grid-row-end:3 ;
  align-self: center;
  justify-self:center;
}

.address{
  grid-column-start: 2;
  grid-column-end:3 ;
  align-self:end;
  justify-self:start;
  font-size: 24px;
}

.phoneEmail{
  grid-row-start:2;
  grid-row-end: 3;
  grid-column-start:2 ;
  grid-column-end: 3;
  align-self:end;
  justify-self:start;
}

.smallMenu{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  align-self:end;
  justify-self:end;
}
.socialmedia{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  align-self:end;
  justify-self:start;
}

.copyright{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  align-self:end;
  justify-self:center;
}

.upBtn{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}


.confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 60px 60px 60px;
  color: #495E57;
}

.bookingForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #495E57;
  width: 100%;
}

.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  padding: 30px;
  gap: 10px;
  color: white;
 
}

 .dateBox, .timeBox{
  padding: 8px;
  background-color: #495E57;
  color: white;
  margin: 12px;
  border: 1px solid #F4CE14;
}

.occasionBox{
  padding: 8px;
  background-color: #495E57;
  color: white;
  margin: 12px; 
  
  border: 1px solid #F4CE14;
}

.submitBtn input{
  padding: 12px 16px;
  margin-top: 20px;
  background:#F4CE14;
  color:#495E57;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  grid-column-start: 0;
  grid-column-end: 2;
}

.submitBtn input:disabled{
  background-color: #a2cfc0;
color: #eee09c;
}

.guestBox{
  color:#F4CE14;
  background:#495E57;
  height: 40px;
  border: 1px solid #F4CE14;
  
}


@media screen and (max-width:768px) {
  .menu{
    display: none;
  }
  .icons{
    display: none;
  }

  .hamburger{
    display: block;
  }
  .menu.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 52px;
    right: 0;
    width: 100%;
    background-color:beige;
    transition: all 0.3s ease-in-out;
  }

  .menu.visible li{
    padding: 2%;
    margin: 1%;
  }

  .header img{
    display: none;
  }

  .reviews{
    flex-direction: column;
  }

  .aboutUs img{
    display: none;
  }

  .horizontalCards{
    flex-direction: column;
  }
}